.GameOver {
  width: 40em;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.PlayAgainButton {
  margin-top: 3em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}