.Header {
  border: 1px solid red;
  width: 42em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2em;
}

.Timer {
  margin-left: 30px;
}

.Pairs {
  margin-right: 30px;
}